.experience{
    display: flex;
    width:100%;
    align-items: start;
    margin-bottom: 1em;
    padding: 1em ;
    border: 2px solid var(--primary-color);
    border-radius: var(--border-radius);
    transition: var(--transition)
}
.experience2{
    display: flex;
}
.card-experience{
    padding: 2em ;
    /* margin-top: .5em; */
    /* background-color: var(--bg-card-color); */
    /* border-radius: var(--border-radius); */
    word-wrap: break-word;
    /* margin-bottom: 5em; */
}

.experience__image{
    max-width: 15%;
    margin-right: 1em;
}

.experience__time{
    font-size: 0.8rem;
    margin-bottom: 0.5em;
}

.experience__job{
    margin: 0;
    margin-bottom: 0.5em;
    color: var(--primary-color);
    transition: var(--transition);
}

.experience__description{
    font-size: 0.8rem;
    margin-bottom: 1.5em;
}

.no-margin{
    margin: 0;
}
.card__title2{
    margin-bottom: .5em;
    font-size: 1.2rem;
}